<div class="pedidos-container">
  <div class="nombre-mesa">Mesa {{ idMesa }}</div>

  <div class="contenido-principal">
    <div class="panel-pedido">
      <app-pedidos-detalle [pedido]="pedido"> </app-pedidos-detalle>
    </div>

    <div class="panel-menu">
      <div class="seccion menu-categorias">
        <app-categorias-list
          (categoriaSeleccionada)="categoriaSeleccionada($event)"
        >
        </app-categorias-list>
      </div>

      <div class="seccion menu-productos">
        <app-productos-list
          [categoriaId]="categoriaId"
          (productoSeleccionado)="agregarProductoAlPedido($event)"
        >
        </app-productos-list>
      </div>
    </div>
  </div>

  <div class="acciones-pie">
    <button class="accion-volver" (click)="volverAlSalon()">
      Volver a Salón
    </button>
    <button class="accion-cerrar" (click)="cerrarSesion()">
      Cerrar sesión
    </button>
    <button class="accion-facturar" (click)="facturarPedido()">
      Facturar y Cerrar
    </button>
    <button class="accion-enviar" (click)="enviarPedido()">
      Enviar a Cocina
    </button>
  </div>
</div>
